{% extends 'layout_underground.html' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center my-6">
            <div class="col-lg-6">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header ">404</div>

                    <div class="card-body">
                        <div class="card-title text-white">There's nothing here officer!</div>

                    </div>
                </div>
            </div>

        </div>>
    </div>
{% endblock %}