{% extends 'layout.html' %}
{% block title %}Anime{% endblock %}

{% block body %}
    <div class="content" style="text-align: justify-all">
        <h1 class="title-dashed">Anime Sideloader</h1>
        <div class="inner" style="text-align: justify-all">
            {% from 'includes/_formhelper.html' import render_field %}
            <form method="post">
                {{ render_field(form.title, id="title", placeholder="Find Anime") }}
                <input type="submit" value="Search" class="ym-button ym-primary ym-small">
            </form>
            <hr>
            {% for entry in series %}
                <a href="/player/{{ entry.serialized_name }}/{{ entry.serialized_name }}-episode-1">{{ entry.title }}</a>
                <br><hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}