{% extends 'layout.html' %}

{% block body %}
    <div class="ym-wbox child">
        <section class="box info">
            <h3>Post details</h3>
            {% from 'includes/_formhelper.html' import render_field %}
            <form id="post-info" class="ym-form" method="POST" action="">

                <div class="ym-fbox ym-g40">
                    {{ render_field(form.title, id="title", type="text", placeholder="Title") }}
                    {{ render_field(form.date, id="content-date", type="date") }}
                    {{ render_field(form.author, id="author", value="Washerman") }}
                    <button type="submit" style="margin-top: 2em">Submit</button>

                </div>

                <section class="box">
                    {{ render_field(form.entry, id="content-edit") }}
                </section>

            </form>
        </section>

    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
    <script>
        $(function (){
            let editor = new SimpleMDE({
                element: $("#content-edit")[0],
                renderingConfig: {
                    singleLineBreaks: false,
                    codeSyntaxHighlighting: true,
                },
                toolbar: ["code",
                    "bold",
                    "italic",
                    "heading",
                    "|",
                    "quote",
                    "ordered-list",
                    "unordered-list",
                    "|",
                    "image",
                    "link",
                    "preview"]

            })
        })


    </script>


{% endblock %}