{% extends 'layout.html' %}
{% block title %}{{ entry.title }}{% endblock %}
{% block body %}
    <div class="entry" style="text-align: justify-all">
        <h1 class="title-dashed">{{ entry.title }}</h1>
        <div class="inner" style="text-align: justify-all">

            <div id="post-body">
                <p id="placeholder">{% filter markdown %} {{ body | safe}} {% endfilter %} </p></div>
            <p>Posted on: {{ entry.date }}</p>
            <p>Posted by: {{ entry.author }}</p>
            <a href="/" class="post-link">Go Back</a>
        </div>
    </div>
    <script>


    </script>
{% endblock %}