
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
    <link rel="icon" href="{{  url_for('static', filename='img/favicon.jpg') }}">
    <script src="{{ url_for('static', filename='pouchdb.min.js') }}"></script>
    <script src="{{ url_for('static', filename='pouchdb.upsert.min.js') }}"></script>
    <script src="{{ url_for('static', filename='pouchdb.find.js') }}"></script>
</head>
<body>

<div class="header">
    <h1 class="title-dashed">Links</h1>
    <div class="inner" style="text-align: justify-all">
        <a href="/">>Home</a> |
        <a href="/wash">>Wash</a>|
    </div>
</div>


<div id="content">
    {% block body %}{% endblock %}

</div>




</body>
<footer class="footer" style="color: #FFFFFF">
    Created by Elijah Abgao; Powered by Depression™
</footer>
</html>



