{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
        <div class="entry" style="text-align: justify-all">
            <h1 class="title-dashed">{{ title }}</h1>

            <div class="inner" style="text-align: center">
                <p>Press to Alt + L to toggle Anime Info.</p>
                <video class="video_player center" id="video_player" controls>
                    <source src="{{ media }}">
                </video>
                <form method="POST">
                        {% for s in sort_by %}
                            <a style="min-width: 59px; margin-top: 2em; text-align: center" data-ep_start="{{ s.start }}"
                               data-ep_end="{{ s.end }}" href="#">
                                {{ s.start }}-{{ s.end }}</a>
                        {% endfor %}
                            <div id="list">
                                {% for item in episodes | reverse %}
                                    {% for key, value in item.items() %}
                                        <a id="{{ title }}-episode-{{ key | replace("EP ","") }}" style="min-width: 59px; margin-top: 2em" href="/player/{{ title }}/{{ value }}">{{ key }}</a>
                                    {% endfor %}
                                {% endfor %}

                    </div>
                </form>
        </div>
        </div>
            <div id="info" class="content" style="text-align: justify-all; display: none">
                <h1 class="title-dashed">ANIME INFO</h1>
                <div class="inner" style="text-align: justify-all">
                    {%  for item  in info %}
                        {% for key, value in item.items() %}
                            <strong>{{ key }}:</strong><p>{{ value }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
    <script>
        let db = new PouchDB('episodes')
        let links = false
        $('.sort_by').on('click', function (e){
            e.preventDefault();
            let html = ""
            for(let i = Number(this.dataset.ep_start); i <= Number(this.dataset.ep_end); ++i){
                if (i > 0){
                    html += `<a style="min-width: 59px; margin-top: 2em" href="/player/{{ title }}/{{ title }}-episode-${i}">EP ${i}</a>`
                }
            }
            $("#list").html(html)
        })


        $(document).ready(function (){
            let link = String(window.location.href)
            let ep_num = String(window.location).slice(-1)
            let series = String(window.location.pathname).split('/')[2]
            let vid = document.getElementById('video_player')


            document.addEventListener('keydown', function (e){
                if(e.altKey && e.key === "l"){
                    links = !links
                }
                if(links){
                    $("#info").show()
                    $("#info").draggable()
                }else {
                    $("#info").hide()
                }
            })

            vid.addEventListener('timeupdate', function (e){
                let current_time = parseInt(e.target.currentTime) / 60
                let duration = parseInt(e.target.duration) / 60
                //let difference = duration.toFixed(0) - Number(current_time)

                //if (difference <= 4){
                    //$("#{{ title }}-episode-"+ep_num).removeClass('ym-primary ym-close').addClass('ym-success ym-save')
                //}

            })

            finished_Ep(ep_num, link, series)
        })

        function finished_Ep(num, link, series){
            let episode = {
                _id: `${series}-${num}`,
                episode_num: num,
                episode_link: link,
                episode_series: series
            }
            db.putIfNotExists(episode).then(function (result){
                console.log("Successfully Added to EP DB")
                db.createIndex({
                    index: {
                        fields: ['_id', 'episode_series', 'episode_link', 'episode_num']
                    }
                }).then(function (result){
                    console.log(result)
                    getFinished(series)
                }).catch(function(error){
                    console.log(error)
                })
            }).catch(function (error){
                console.log(error)
            })

        }

        function getFinished(series){


            db.find({
                selector: {episode_series: series},
                fields: ['_id', 'episode_series', 'episode_link', 'episode_num']
            }).then(function (result){
                console.log(result)
                $.each(result.docs, function (key, value){
                    $("#{{ title }}-episode-"+value['episode_num']).css('text-decoration', "line-through")
                })
            }).catch(function (err){
                console.log(err)
            })


        }

    </script>

    </div>
{% endblock %}