{% extends 'layout.html' %}
{% block title %}Player{% endblock %}

{% block body %}
    <div id="player" class="ym-wbox child">
    {# Player Head #}
        <section class="box info">
            <p><strong>ANIME PLAYER</strong></p>
            {%  for item  in info %}
                {% for key, value in item.items() %}
                    <strong>{{ key }}:</strong><p>{{ value }}</p>
                {% endfor %}
            {% endfor %}

            <video width="640" height="480" class="center" controls>
                <source src="{{ media }}"
                        type="video/mp4">
            </video>

                <div class="footer">
                    <form class="ym-form" method="POST">
                        <div class="ym-fbox">
                           <center>
                               <div class="ym-fbox-wrap ym-grid">
                                   {% for item in episodes %}
                                       {% for key, value in item.items() %}
                                           <a style="min-width: 59px; margin-top: 2em" class="ym-button ym-primary" href="/player/{{ title }}/{{ value }}">{{ key }}</a>
                                       {% endfor %}
                                   {% endfor %}

                               </div>
                           </center>

                        </div>
                    </form>
                </div>
        </section>


    </div>
{% endblock %}