{% extends 'layout.html' %}
{% block title %}Player{% endblock %}

{% block body %}
    <div id="player" class="ym-wbox child">
    {# Player Head #}
        <section class="box info">
            <p><strong>ANIME PLAYER</strong></p>
            {%  for item  in info %}
                {% for key, value in item.items() %}
                    <strong>{{ key }}:</strong><p>{{ value }}</p>
                {% endfor %}
            {% endfor %}

            <video class="video_player center" id="video_player" controls>
                <source src="{{ media }}">
            </video>

                <div class="footer">
                    <form class="ym-form" method="POST">
                        <div class="ym-fbox">
                            <div class="ym-fbox-wrap ym-grid">
                                {% for s in sort_by %}
                                    <a style="min-width: 59px; margin-top: 2em; text-align: center" data-ep_start="{{ s.start }}"
                                       data-ep_end="{{ s.end }}" class="ym-button sort_by" href="#">
                                        {{ s.start }}- {{ s.end }}</a>
                                {% endfor %}
                            </div>
                           <center>

                               <div class="ym-fbox-wrap ym-grid" id="list">
                                   {% for item in episodes | reverse %}
                                       {% for key, value in item.items() %}
                                           <a id="{{ key | replace("EP ","") }}" style="min-width: 59px; margin-top: 2em" class="ym-button ym-primary save ym-close" href="/player/{{ title }}/{{ value }}">{{ key }}</a>
                                       {% endfor %}
                                   {% endfor %}

                               </div>
                           </center>

                        </div>
                    </form>
                </div>
        </section>

    <script>
        let db = new PouchDB('episode')
        let finished = false
        $('.sort_by').on('click', function (e){
            e.preventDefault();
            let html = ""
            for(let i = Number(this.dataset.ep_start); i <= Number(this.dataset.ep_end); ++i){
                if (i > 0){
                    html += `<a style="min-width: 59px; margin-top: 2em" class="ym-button ym-primary save ym-close" href="/player/{{ title }}/{{ title }}-episode-${i}">EP ${i}</a>`
                }
            }
            $("#list").html(html)
        })


        $(document).ready(function (){
            let link = String(window.location.href)
            let ep_num = String(window.location).slice(-1)
            let series = String(window.location.pathname).split('/')[2]
            let vid = document.getElementById('video_player')
            vid.addEventListener('timeupdate', function (e){
                let current_time = parseInt(e.target.currentTime) / 60
                let duration = parseInt(e.target.duration) / 60
                let difference = duration.toFixed(0) - Number(current_time)

                if (difference <= 4){
                    finished = true
                }



            })
            finished_Ep(ep_num, link, series)
        })

        function finished_Ep(num, link, series){
            let episode = {
                _id: `${series}-${num}`,
                episode_num: num,
                episode_link: link,
                episode_series: series
            }
            db.putIfNotExists(episode, function callback(err, result){
                if (!err){
                    console.log("Successfully added Episode to finished!")
                }else{
                    console.log(err)
                }
            })
            getFinished()
        }

        function getFinished(){
            db.allDocs({include_docs: true, descending: true}, function (err, doc){
                $.each(doc.rows, function (key, value){
                    $(`#${value['doc']['episode_num']}`).removeClass('ym-primary ym-close').addClass('ym-success ym-save')
                })
            })
        }
    </script>

    </div>
{% endblock %}