{% extends 'layout.html' %}
{% block title %}THE WASH{% endblock %}
{% block body %}
    <div class="content" style="text-align: justify-all">
        <div class="control-box close-box"><a class="control-box-inner"></a></div>
        <h1 class="title-dashed">The Wash</h1>
        <div class="inner" style="text-align: justify-all">
            {{ rss_feed.title }}<br>
            (<a href="{{ rss_feed.links[0].href }}">MyAnimeList</a>)<br>
            <hr>
            {% for entry in rss_entries %}
                {% if loop.index <= 5 %}
                    <a href="{{ entry.link }}" class="links">{{ entry.title }}</a><br>
                    <p>{{ entry.summary }}</p>
                    <p>{{ entry.published }}</p>
                    <hr>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <script>
        $(".close-box").on('click', function (){
            window.location.href = "/"
        })
    </script>
{% endblock %}